:root {
  --main-color: #eae7e5;
  --border-color: #c5aeae;
  --pill-bg: #698ce9;
  --pill-shadow: #3d5493;
  --pill-text: #fcf2f2;
}

body {
  background-color: #ebebeb;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}

a {
  padding: 10px;
  color: #3b62cd;
}

.hero {
  background-color: var(--main-color);
  display: flex;
  /* justify-content: center; */
  border: 3px solid var(--border-color);
  box-shadow: 0px 0px 15px var(--border-color);
  max-width: 1200px;
  padding: 10px 40px;
  margin: 0 auto;
  border-radius: 16px;
  align-items: center;
}

.pill {
  background-color: var(--pill-bg);
  color: var(--pill-text);
  padding: 4px 12px;
  border-radius: 4px;
  box-shadow: 4px -4px 0px var(--pill-shadow);
  font-weight: 100;
}

.hero .pill {
  /* border-radius: 16px; */
  box-shadow: 4px -4px 0px var(--pill-shadow);
}

.logo {
  width: 160px;
  height: 160px;
}

.title {
  font-size: 80px;
  font-weight: bold;
}

.tagline {
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  text-align: center;
  margin-top: 80px;
  font-size: 80px;
  font-weight: 100;
}

.docs {
  margin: 80px auto;
  font-weight: 300;
  font-size: 32px;
  color: var(--pill-bg);
}

.contact {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.demos-title {
  text-align: center;
}
.demos {
  display: flex;
  justify-content: space-between;
}
.demo-link {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 180px;
  border-radius: 4px;
  transition: all 0.1s;
}
.demo-link:hover {
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}
